body { background-color: #fff; }

#socialmedia { display:none; }
#layoutSelect { display:none; }

/* Reposition video to top-right */
#videoContainer {
  left:auto !important;
  float:right;
}
#prevVideoContainer {
  width:400px !important;
  font-size:12pt !important;
}
#songList {
  width:400px;
  font-size:12pt !important;
}

/* Extending chat window to fill iframe */
#chat,#chatWrapper,.chatClientWrap {
  left:0 !important;
  right:0 !important;
}
.chatClientWrap {
  bottom:22px !important;
}
.rowFull.shadow.mainRow {
  border:1px solid #ccc;
  /*try to make all text smaller!*/
  font-size:50%;
}

/* Fix chatbox width in FF */
input.chatbox {
  width:100%;
  border:1px solid #bbb !important;
}
/* Lighten chat box input border */
.chatBoxWrap {
  border:0 !important;
  margin-left:1px !important;
}

.rowFull.inputRow {
  /*bottom:0 !important;*/
  left:0 !important;
  right:0 !important;
  margin-bottom:-30px !important;
}
.broadcastIcon { width:12px !important; height:9px !important; }
.broadcastLink { width:14px !important; height:11px !important; margin-top:4px; }