body { background-color: #fff; }
* { font-size:10pt !important; }

#socialmedia { display:none; }
#layoutSelect { display:none; }

/* Reposition video to top-right */
#videoContainer {
  left:auto !important;
  float:right;
}
#prevVideoContainer {
  width:400px !important;
}
#songList {
  width:400px;
}

/* Extending chat window to fill iframe */
#chat,#chatWrapper,.chatClientWrap {
  left:0 !important;
  right:0 !important;
}
.chatClientWrap {
  bottom:22px !important;
}
.rowFull.shadow.mainRow {
  border:1px solid #ccc;
}

/* Fix chatbox width in FF */
input.chatbox {
  width:100%;
  border:1px solid #bbb !important;
}
/* Lighten chat box input border */
.chatBoxWrap {
  border:0 !important;
  margin-left:1px !important;
  right:185px !important;
}

.rowFull.inputRow {
  /*bottom:0 !important;*/
  left:0 !important;
  right:0 !important;
  margin-bottom:-30px !important;
}
.broadcastIcon { width:12px !important; height:9px !important; }
.broadcastLink { width:14px !important; height:11px !important; margin-top:4px; }
.postRow,.myPostRow,.postMentionRow { padding:0 1px !important; }

.author { padding:0 4px !important;border:1px solid #fff;border-radius:2px }

/**** Mobile ****/
@media only screen and (max-width: 799px) {
  #prevVideoContainer,.userWindow { display:none; }
  .postWindow { right:0 !important; }
  #videoContainer { width:100% !important; height:140px !important; }
  #ytPlayer { height:140px !important; }
  #chatWrapper { top:142px !important; }
  .postTimestamp,.postMentionTimestamp,.myPostTimestamp { display:none !important; }
  .postRow,.myPostRow,.postMentionRow { max-width:100% !important; }
  .rowFull.shadow.mainRow { border-right:0; border-left:0; }
}
