body { background-color: #fff; }

#socialmedia { display:none; }

/* Reposition video to top-right */
#videoContainer {
  left:auto !important;
  float:right;
}
#prevVideoContainer {
  width:400px !important;
  font-size:12pt !important;
}
#songList {
  width:400px;
  font-size:12pt !important;
}

/* Extending chat window to fill iframe */
#chat,.chatClientWrap {
  bottom:0px !important;
  left:0 !important;
  right:0 !important;
}
#chatWrapper {
  bottom:20px !important;
  left:0 !important;
  right:0 !important;
}
.postWindow {
  border:1px solid #ccc;
}